@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:wght@500&display=swap");
.contact {
  background-size: 100% !important;
  width: 100% !important;
  box-shadow: 1px 3px 87px -21px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 1px 3px 87px -21px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 3px 87px -21px rgba(0, 0, 0, 0.65);
}
.headC {
  background-color: rgb(99, 185, 146);
  border-radius: 5px;
  margin-top: -120px !important;
  -webkit-box-shadow: 3px 3px 5px 9px rgba(194, 194, 194, 0.79);
  -moz-box-shadow: 3px 3px 5px 9px rgba(194, 194, 194, 0.79);
  box-shadow: 3px 3px 5px 9px rgba(194, 194, 194, 0.79);
  font-family: "Dancing Script", cursive;
}
.effect-1 {
  border: 0 !important;
  outline: none !important;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid rgb(56, 55, 55) !important;
  background-color: white !important;
}
.effect-1 ~ .Focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: rgb(99, 185, 146);
  transition: 0.4s;
}
.effect-1:focus ~ .Focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.btnH {
  background: rgb(99, 185, 146);
  color: aliceblue;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}
.btnH:hover {
  box-shadow: 1px 3px 87px -21px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 1px 3px 87px -21px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 3px 87px -21px rgba(0, 0, 0, 0.65);
  background-color: rgb(253, 181, 99) !important;
}

.contact {
  display: flex;
  justify-content: center;
  height: 500px;
  position: relative;
  width: 60% !important ;
}

.rowcontact {
  position: absolute !important;
}

.rowcontact {
  width: 90%;
}
div.card {
  height: 100% !important;
}
.text-c {
  font-family: "Josefin Sans", sans-serif;
}
.cardC {
  padding: 0px !important ;
}


@media screen and (min-width: 300px) and (max-width: 700px) {
  .contact{
    width: 95% !important;
  }
}

input {
background-color: white !important;
 
}
.check{
  background-color: white !important;
}