@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:wght@500&display=swap");

.footer {
  width: 100vw !important;
  position: relative;

  padding-top: 25px;
  background: #121518;
  color: #999999;
}
.conteinerFooter {
  justify-content: center !important;
}

.imgLogo {
  width: 35%;
  padding: 2%;
}


.imgCuadro {
  width: 100%;

  border-radius: 100%;
}

.aF:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

.footer .footer-project a {
  padding: 8px 8px 8px 0;
  display: block;
  width: 33.33%;

  float: left;
}

.footer .footer-text {
 
  padding-top: 10px;

  text-align: center;
  color: #999999;
}

.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100% !important;
}
.text-f {
  font-family: "Dancing Script", cursive;
}
.footer-text {
  font-family: "Josefin Sans", sans-serif;
}
