.itemUl{
   
   
    margin-right: 5%;
    flex-grow: 0 !important;

    
}

.nav-link{
  
    font-size: 20px !important;
    font-weight: bold !important;
    padding-left: 15px !important;
    color: blanchedalmond !important;
    font-family:Raleway;



}
.navbar{
   
    height: 200px !important;
    background-color: rgba(133, 133, 133, 0.5) !important; 
    color: rgba(133, 133, 133, 0.5) !important;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 54px -3px rgba(0,0,0,0.1),0px
     10px 15px -3px rgba(0,0,0,0.1),0px 10px 39px -3px rgba(0,0,0,0.1) !important;

}
 a .nav-link :enabled {

    color: green !important;
  }



#NavButtom {
    align-self: start;
}
.LogoContenedor {
    height: 50% !important;
}
.LogoContenedor, .itemUl
{
    width: 100% !important;
    margin:auto !important;
	text-align:center !important;
}
.itemUl {
    justify-content:center;
     

}

.itemUl li {
    float: none !important;
	display: inline-block !important;
   padding-right: 80px!important;
}
.ContenedorN {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 991px) {
    .imgNav{
        height: 110px !important;
        width: 200px !important;

    }
}