.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parallax {
  background-image: url("../assets/rashp3.jpg");
  height: 300px !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

