.tituloPres {
  font-family: "Dancing Script", cursive;
  font-size: 35px !important;
}
.tituloPres2 {
  font-family: "Josefin Sans", sans-serif;
}
.textoPre {
  font-family: "Josefin Sans", sans-serif;
}
.imgPres {
  padding: 10% 0;
}
